.questionCard {
    min-height: 500px;
    min-width: 600px;
    max-height: 70vh;
    background: radial-gradient(116.57% 94.72% at 38.75% 12.74%, rgba(0, 97, 255, 0.7) 0%, rgba(0, 58, 153, 0.7) 100%);
}