@font-face {
  font-family: 'Circular';
  font-weight: 400;
  src:  url('./assets/fonts/Circular-normal-400-100.woff2') format('woff2'),
        url('./assets/fonts/Circular-normal-400-100.woff') format('woff'),
        url('./assets/fonts/Circular-normal-400-100.ttf') format('ttf');
}
@font-face {
  font-family: 'Circular';
  font-weight: 600;
  src:  url('./assets/fonts/Circular-normal-600-100.woff2') format('woff2'),
        url('./assets/fonts/Circular-normal-600-100.woff') format('woff'),
        url('./assets/fonts/Circular-normal-600-100.ttf') format('ttf');
}
@font-face {
  font-family: 'Circular';
  font-weight: 800;
  src:  url('./assets/fonts/Circular-normal-800-100.woff2') format('woff2'),
        url('./assets/fonts/Circular-normal-800-100.woff') format('woff'),
        url('./assets/fonts/Circular-normal-800-100.ttf') format('ttf');
}

:root {
  font-family: 'Circular', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  position: relative;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.5;
}

.cta-button {
  background: radial-gradient(#0061FF, #003A99);
  color: white;
}